.div-cart-product{
    width: 100%;
    height: 90px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-bottom: 10px;
}

.img-cart-product{
    background: #E0E0E0;
    border-radius: 5px;

    height: 80%;
    aspect-ratio: 1;

    align-self:center;
}

.img-cart-product:hover img{
    transform: scale(1.1);
}

.img-cart-product img{
    height: 90%;
}

.div-info-cart-product{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 45%;
}

.div-info-cart-product p{
    width: 100%;

    color: #333333;
    font-size: 16px;
    font-weight: bold;

    text-align: left;

    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.div-info-cart-product span{
    color: #828282;
    font-size: 12px;
}

.div-cart-product button{
    border: none;
    background-color: transparent;

    color: #bdbdbd;
    font-size: 11px;
}

.div-cart-product button:active{
    color: #828282;
}

.span-qtd{
    color: #bdbdbd;
    font-size: 11px;

    width: 100%;

    text-align: left;
}

.div-cart-product-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
